<span>
	<span ng-if="blank != 'true'">
		<select class="{{styleClass}}" ng-options="option.value as option.label for option in options" ng-model="$parent.model" ng-blur="ctrlTouch()" ng-change="ctrlChange()" ng-disabled="ngDisabled">
		</select>
	</span>
	<span class="nullable" ng-if="blank == 'true'">
		<select class="{{styleClass}}" ng-options="option.value as option.label for option in options" ng-model="$parent.model" ng-blur="ctrlTouch()" ng-change="ctrlChange()" ng-disabled="ngDisabled">
			<option value=""></option>
		</select>
	</span>
</span>
