
a.back-to-top {
	display: none;
	width: 25px;
	height: 25px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 5px;
	background: #27AE61 url("../img/up-arrow.png") no-repeat center 43%;
	background-size: 15px 15px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}

a:hover.back-to-top {
	background-color: #04498c;
}
