<div class="modal-header">
	<h3 class="modal-title">投稿</h3>
</div>
<div class="modal-body">
	<form name="oshiraseHenshuForm" class="form-horizontal" role="form"
		novalidate>
		<div class="form-group" nis-has-error="oshiraseHenshuForm.title">
			<label class="col-lg-2 control-label" for="input_title">タイトル</label>
			<div class="col-lg-8 form-inline">
				<input type="text" class="form-control" ng-model="input.title" id="input_title" nis-input="OshiraseInfo" name="title" required nis-init-focus>
				<nis-validate-messages target="oshiraseHenshuForm.title"></nis-validate-messages>
			</div>
		</div>
		<div class="form-group" nis-has-error="oshiraseHenshuForm.naiyo">
			<label class="col-lg-2 control-label" for="input_title">本文</label>
			<div class="col-lg-8 form-inline">
				<textarea class="form-control tokoarea" ng-model="input.naiyo" nis-input="OshiraseInfo" name="naiyo" rows="8" cols="48" required></textarea>
				<nis-validate-messages target="oshiraseHenshuForm.naiyo"></nis-validate-messages>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-2 control-label" for="input_juyoKbn">重要度</label>
			<div class="col-lg-8 form-inline">
				<nis-select model="input.juyoKbn" selects="juyo" style-class="form-control"></nis-select>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-click="action.ok()">OK</button>
	<button class="btn btn-warning" type="button" ng-click="action.cancel()">Cancel</button>
</div>