<div>
	<input ng-model="model" name="{{name}}" ng-show="false" ng-if="!name">
	<div class="radio" ng-if="vertical != 'true'">
		<label ng-repeat="radio in options" class="radio-inline">
			<input type="radio" ng-model="$parent.$parent.model" value="{{radio.value}}" ng-change="ctrlChange()" ng-blur="ctrlTouch()" ng-disabled="ngDisabled">{{radio.label}}
		</label>
		<label class="radio-inline" ng-if="all == 'true'">
			<input type="radio" ng-model="$parent.$parent.model" value="*" ng-change="ctrlChange()" ng-blur="ctrlTouch()" ng-disabled="ngDisabled">全て
		</label>
	</div>
	<div class="radio" ng-repeat="radio in radios" ng-if="vertical == 'true'">
		<label>
			<input type="radio" ng-model="$parent.$parent.model" value="{{radio.value}}" ng-change="ctrlChange()" ng-blur="ctrlTouch()" ng-disabled="ngDisabled">{{radio.label}}
		</label>
	</div>
	<div class="radio" ng-repeat="radio in radios" ng-if="vertical == 'true' && all == 'true'">
		<label>
			<input type="radio" ng-model="$parent.$parent.model" value="*" ng-change="ctrlChange()" ng-blur="ctrlTouch()" ng-disabled="ngDisabled">全て
		</label>
	</div>
</div>