<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body id="body1">
  <form id="form1" class="form">
    <div style="background-color: white; height: 570px; left: 0px; top: 30px; position: absolute; width: 100%" class="tabSet">
      <!-- タブ項目 -->
      <div class="MniTabDiv">
        <table border="0" cellspacing="0" cellpadding="0" class="MniTabTbl" title="">
          <tr>
            <td><a class="MniTabLnk TabPad" href="/lotdsp/menu">ICAS情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showProgressInfo();">進度情報</a></td>
            <td class="MniTabTblSelTd">
              <div class="MniTabSelTxt" title="Current Selection:"><span class=" disabled TabPad">製造情報</span></div>
            </td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showTestInfo();">試験情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showQualityInfo();">品質情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showCladInfo();">クラッド情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showCFInfo();">焼鈍情報</a></td>
          </tr>
        </table>
      </div>

	  <!-- 各タブ固有項目 -->
      <div style="position: relative; -rave-layout: grid; height: 540px; position: relative; width: 980px; -rave-layout: grid" class="layoutPanel">
	  	<table border="0" cellpadding="3" cellspacing="0" style="height: 400px; left: 5px; top: 150px; position: absolute" width="979">
			<tbody>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
							<tbody>
								<tr class="man-item-header">
									<td><span>CAS</span></td>
									<td><span>SSW</span></td>
									<td><span>SCA</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="400">
											<tbody>
												<tr class="item-label1">
													<td><span>記号</span></td>
													<td><span>厚</span></td>
													<td><span>巾</span></td>
													<td><span>丈</span></td>
													<td><span>重量C</span></td>
													<td><span>重量A</span></td>
													<td><span>作業日</span></td>
													<td><span>本数</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.skigo}}</span></td>
													<td><span>{{staffManufactureInfo.sx}}</span></td>
													<td><span>{{staffManufactureInfo.sy}}</span></td>
													<td><span>{{staffManufactureInfo.sz}}</span></td>
													<td><span>{{staffManufactureInfo.stw}}</span></td>
													<td><span>{{staffManufactureInfo.jcw}}</span></td>
													<td><span>{{staffManufactureInfo.jcdtm | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.jup | dotNumber:4}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="150">
											<tbody>
												<tr class="item-label1">
													<td><span>重量C</span></td>
													<td><span>重量A</span></td>
													<td><span>作業日</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.sw | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.jsww | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.jswdtm | date:'MM/dd'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span>面削代</span></td>
													<td><span>重量C</span></td>
													<td><span>重量A</span></td>
													<td><span>作業日</span></td>
													<td><span>面後厚</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.h_MENS | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.menw}}</span></td>
													<td><span>{{staffManufactureInfo.jmw | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.jmdtm | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.jmx | dotNumber:1}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
							<tbody>
								<tr class="man-item-header">
									<td><span>PIT(設計）</span></td>
									<td><span>HOT（設計）</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span>条件C</span></td>
													<td><span>炉</span></td>
													<td><span>釜番</span></td>
													<td><span>圧順</span></td>
													<td><span>作業日</span></td>
													<td><span>時間</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.pitj}}</span></td>
													<td><span>{{staffManufactureInfo.pit}}</span></td>
													<td><span>{{staffManufactureInfo.prj}}</span></td>
													<td><span>{{staffManufactureInfo.atj}}</span></td>
													<td><span>{{staffManufactureInfo.pitbi | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.pit_TIME}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span>ﾊﾟｽ</span></td>
													<td><span>巾出率</span></td>
													<td><span>ﾌﾞﾗｼ</span></td>
													<td><span>F1厚C</span></td>
													<td><span>F1丈C</span></td>
													<td><span>火延厚</span></td>
													<td><span>火延巾</span></td>
													<td><span>火延丈</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.hotj}}</span></td>
													<td><span>{{staffManufactureInfo.cross1 | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.hbcod}}</span></td>
													<td><span>{{staffManufactureInfo.f1X | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.f1Z | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.fx | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.hy | dotNumber:1}}</span></td>
													<td><span>{{staffManufactureInfo.hz}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
							<tbody>
								<tr class="man-item-header">
									<td><span id="form1:tabSet1:tab_ManufacturingInfo:label_Jpit">PIT(実績）</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="750">
											<tbody>
												<tr class="item-label1">
													<td><span>条件A</span></td>
													<td><span>炉</span></td>
													<td><span>釜番</span></td>
													<td><span>圧順</span></td>
													<td><span>作業日</span></td>
													<td><span>第１均熱開始時刻</span></td>
													<td><span>温度</span></td>
													<td><span>第２均熱開始時刻</span></td>
													<td><span>温度</span></td>
													<td><span>炉出時刻</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.jpj}}</span></td>
													<td><span>{{staffManufactureInfo.jprb}}</span></td>
													<td><span>{{staffManufactureInfo.jprj}}</span></td>
													<td><span>{{staffManufactureInfo.jpatj}}</span></td>
													<td><span>{{staffManufactureInfo.jpdt | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.jpdt2 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jpo2}}</span></td>
													<td><span>{{staffManufactureInfo.jpdt3 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jpo3}}</span></td>
													<td><span>{{staffManufactureInfo.jpdt4 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
							<tbody>
								<tr class="man-item-header">
									<td><span>HOT(実績）</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="900">
											<tbody>
												<tr class="item-label1">
													<td><span>作業日</span></td>
													<td><span>直</span></td>
													<td><span>持掛</span></td>
													<td><span>F1厚</span></td>
													<td><span>上温度</span></td>
													<td><span>PC値</span></td>
													<td><span>NO</span></td>
													<td><span>WR上</span></td>
													<td><span>WR下</span></td>
													<td><span>BUR上</span></td>
													<td><span>BUR下</span></td>
													<td><span>圧延開始時刻</span></td>
													<td><span>圧延終了時刻</span></td>
													<td><span>熱延時間</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.jbedtm_HOT | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedtc_HOT}}</span></td>
													<td><span>{{staffManufactureInfo.jhftmp}}</span></td>
													<td><span>{{staffManufactureInfo.jhf1X | dotNumber:3}}</span></td>
													<td><span>{{staffManufactureInfo.jhf1TMP}}</span></td>
													<td><span>{{staffManufactureInfo.hotpc | dotNumber:2}}</span></td>
													<td><span>{{staffManufactureInfo.hcid}}</span></td>
													<td><span>{{staffManufactureInfo.jbuw_HOT}}</span></td>
													<td><span>{{staffManufactureInfo.jblw_HOT}}</span></td>
													<td><span>{{staffManufactureInfo.jbub_HOT}}</span></td>
													<td><span>{{staffManufactureInfo.jblb_HOT}}</span></td>
													<td><span>{{staffManufactureInfo.hpi2 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.hpi5 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.hot_TIME}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
							<tbody>
								<tr class="man-item-header">
									<td><span>CM最終実績</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="800">
											<tbody>
												<tr class="item-label1">
													<td><span>ﾛｰﾙ</span></td>
													<td><span>WR上</span></td>
													<td><span>WR下</span></td>
													<td><span>BUR上</span></td>
													<td><span>BUR下</span></td>
													<td><span>圧順</span></td>
													<td><span>作業日</span></td>
													<td><span>直</span></td>
													<td><span>圧延開始時刻</span></td>
													<td><span>圧延終了時刻</span></td>
													<td><span>冷延時間</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.jcd202}}</span></td>
													<td><span>{{staffManufactureInfo.jbuw_CM}}</span></td>
													<td><span>{{staffManufactureInfo.jblw_CM}}</span></td>
													<td><span>{{staffManufactureInfo.jbub_CM}}</span></td>
													<td><span>{{staffManufactureInfo.jblb_CM}}</span></td>
													<td><span>{{staffManufactureInfo.jbln_CM}}</span></td>
													<td><span>{{staffManufactureInfo.jbedtm_CM | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedtc_CM}}</span></td>
													<td><span>{{staffManufactureInfo.jbsdate_CM | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_CM | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.cm_TIME}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="0" width="600">
							<tbody>
								<tr class="man-item-header">
									<td><span>仕上最終実績</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="700">
											<tbody>
												<tr class="item-label1">
													<td><span>前ｵﾌ</span></td>
													<td><span>後ｵﾌ</span></td>
													<td><span>ｽ内径</span></td>
													<td><span>ｽ肉厚</span></td>
													<td><span>作業日</span></td>
													<td><span>直</span></td>
													<td><span>作業開始時刻</span></td>
													<td><span>作業終了時刻</span></td>
													<td><span>仕上時間</span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.jbfo_SIAGE}}</span></td>
													<td><span>{{staffManufactureInfo.jbbo_SIAGE}}</span></td>
													<td><span>{{staffManufactureInfo.spnav_SIAGE}}</span></td>
													<td><span>{{staffManufactureInfo.spx_SIAGE}}</span></td>
													<td><span>{{staffManufactureInfo.jbedtm_SIAGE | date:'MM/dd'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedtc_SIAGE}}</span></td>
													<td><span>{{staffManufactureInfo.jbsdate_SIAGE | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_SIAGE | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.siage_TIME}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" style="">
							<tbody>
								<tr class="man-item-header">
									<td><span>中間焼鈍</span></td>
									<td><span>最終焼鈍 or 安定化</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span>温度</span></td>
													<td><span>時間</span></td>
													<td><span>作業開始時刻 </span></td>
													<td><span>作業終了時刻 </span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.h_IATMP1}}</span></td>
													<td><span>{{staffManufactureInfo.h_IATIME1}}</span></td>
													<td><span>{{staffManufactureInfo.jbsdate_ANI | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_ANI | date:'yy/MM/dd HH:mm:ss'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span>温度 </span></td>
													<td><span>時間 </span></td>
													<td><span>作業開始時刻 </span></td>
													<td><span>作業終了時刻 </span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.h_TMP}}</span></td>
													<td><span>{{staffManufactureInfo.h_TIME}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_ANF | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_ANF | date:'yy/MM/dd HH:mm:ss'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
							<tbody>
								<tr class="man-item-header">
									<td><span>溶体化処理</span></td>
									<td><span>時効化処理</span></td>
								</tr>
								<tr class="man-item-header">
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span>温度 </span></td>
													<td><span>時間 </span></td>
													<td><span>作業開始時刻 </span></td>
													<td><span>作業終了時刻 </span></td>
												</tr>
												<tr class=" item-value1">
													<td><span>{{staffManufactureInfo.ytmp}}</span></td>
													<td><span>{{staffManufactureInfo.ytime}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_QF | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span>{{staffManufactureInfo.jbedate_QF | date:'yy/MM/dd HH:mm:ss'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="350">
											<tbody>
												<tr class="item-label1">
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:label_Ztmp2">温度 </span></td>
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:label_Ztime2">時間 </span></td>
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:label_Jbsdate_Agin">作業開始時刻 </span></td>
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:label_Jbedate_Agin">作業終了時刻 </span></td>
												</tr>
												<tr class=" item-value1">
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:ZTMP2">{{staffManufactureInfo.ztmp2}}</span></td>
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:ZTIME2">{{staffManufactureInfo.ztime2 | dotNumber:1}}</span></td>
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:JBSDATE_JIKO">{{staffManufactureInfo.jbedate_JIKO | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td><span id="form1:tabSet1:tab_ManufacturingInfo:JBEDATE_JIKO">{{staffManufactureInfo.jbedate_JIKO | date:'yy/MM/dd HH:mm:ss'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
      </div>
	  
    </div>

    <!-- ICAS情報タブ以外の共通部分 開始-->
    <!--ロット番号～Yマーク日-->
    <table border="0" cellpadding="5" cellspacing="0" style="height: 80px; left: 5px; top: 70px; position: absolute;" width="1290">
      <tbody>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td class=""><span>ﾛｯﾄ番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td class=""><span>{{common.ltno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>鋳造番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.cyno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td class=""><span>検査番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td class=""><span>{{common.knno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>ｵｰﾀﾞｰ番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.juno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 40px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>需要</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.jbcd}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width:40px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>BU</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.bucode}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>用途ｺｰﾄﾞ</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span>{{common.yotoc}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 150px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>用途名</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.yotoname}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 40px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>地区</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.chikucd}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 150px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>販売員</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.jujsno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                      <tbody>
                        <tr class="item-label1">
                          <td class=""><span>営業納期</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td class=""><span>{{common.enoki | date:'yy/MM/dd'}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 75px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>ｶｰﾄﾞ区分</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span>{{common.jcd105}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 40px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>本数</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span>{{common.jup}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span >Yﾏｰｸ日</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span >{{common.ymark}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="vertical-align: top">
              <tbody>
                <tr>
                  <td>
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr class="item-label1">
                          <td>
                          	<!--材質～重量-->
                            <table id="form1:ommonInfo_Group11" border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
                                      <tbody>
                                        <tr class="item-label1">
                                          <td class="item-width2"><span></span></td>
                                        </tr>
                                        <tr class=" item-label1">
                                          <td class="item-width2"><span>ｵｰﾀﾞｰ</span></td>
                                        </tr>
                                        <tr class=" item-label1">
                                          <td class="item-width2"><span>製造</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td>
                                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
                                      <tbody>
                                        <tr class="item-label1">
                                          <td class="item-width2"><span>材質</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>調質</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>板厚</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>板幅</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>板丈</span></td>
                                          <td class="item-width2"><span>重量</span></td>
                                        </tr>
                                        <tr class="item-value1">
                                          <td class="item-width2"><span>{{common.jua}}</span></td>
                                          <td class="item-width3"><span>-</span></td>
                                          <td class="item-width2"><span>{{common.jub}}</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>{{common.jux | dotNumber:3}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.juy | dotNumber:2}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.juz | dotNumber:1}}</span></td>
                                          <td class="item-width2"><span>{{common.juw | dotNumber:1}}</span></td>
                                        </tr>
                                        <tr class="item-value1">
                                          <td class="item-width2"><span>{{common.lta}}</span></td>
                                          <td class="item-width3"><span>-</span></td>
                                          <td class="item-width2"><span>{{common.ltb}}</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>{{common.ltx | dotNumber:3}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.lty | dotNumber:2}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.ltz | dotNumber:1}}</span></td>
                                          <td class="item-width2"><span>{{common.ryow | dotNumber:1}}</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td><span id="form1:space1" class="space">*</span></td>
                  <td>
                  	<!--得意先～納入先-->
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr>
                          <td class="item-label2"><span>得意先</span></td>
                          <td class=" com-value-left-w180"><span>{{common.tokui}}</span></td>
                        </tr>
                        <tr>
                          <td class="item-label2"><span>送り先</span></td>
                          <td class=" com-value-left-w180"><span>{{common.oname}}</span></td>
                        </tr>
                        <tr>
                          <td class="item-label2"><span>納入先</span></td>
                          <td class=" com-value-left-w180"><span>{{common.nonyu}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td><span id="form1:space2" class="space">*</span></td>
                  <td>
                  	<!--倉入日～納期符号-->
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-value0">
                                  <td><span class="DataKbnGreen">{{common.datakbn}}</span></td>
                                </tr>
                                <tr class="item-label1">
                                  <td><span style="width:80px;">倉入日</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td><span>{{common.ksd | date:'yy/MM/dd'}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-value0">
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="item-label1">
                                  <td><span>試験者名</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td><span>{{common.juno202}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-value0">
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="item-label1">
                                  <td><span>試験No</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td><span>{{common.shikenno}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-value0">
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="item-label1">
                                  <td><span style="width:50px;">仮梱</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td><span>{{common.karikon}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-value0">
                                  <td>&nbsp;</td>
                                </tr>
                                <tr class="item-label1">
                                  <td><span style="width:100px;">納期符号</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td><span>{{common.nokifugo}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
    <span id="form1:header" style="background-color: rgb(244, 233, 233); display: block; font-family: monospace; height: 35px; left: 0px; top: 0px; position: absolute; width: 100%">
    <span id="form1:message" class="message"></span>
    <span id="form1:schItem_Label_Ltno" style="font-family: monospace; left: 4px; top: 10px; position: absolute; text-align: left; vertical-align: top; width: 55px">ﾛｯﾄ番号</span>
    <input type="text" ng-model="common.searchLtno" id="common_searchLtno" name="searchLtno" onclick="InputTextSelect(this);" style="height: 25px; left: 60px; top: 8px; position: absolute; text-align: left; vertical-align: middle; width: 70px;text-transform:uppercase;" tabindex="1">
	<span id="form1:schItem_Label_Knno" style="font-family: monospace; height: 20px; left: 140px; top: 10px; position: absolute; text-align: left; vertical-align: top; width: 65px">検査番号</span>
	<input type="text" ng-model="common.searchKnno" id="common_searchKnno" name="searchKnno" onclick="InputTextSelect(this);"style="height: 25px; left: 200px; top: 8px; position: absolute; text-align: left; vertical-align: middle; width: 70px;text-transform:uppercase;" tabindex="2" />
	<button type="button" class="btn btn-default btnCustom lotdspBtnCustom" ng-click="action.search()" style="height: 25px; left: 280px; top: 8px; position: absolute; vertical-align: middle; width: 60px" tabindex="3">
		<span class="glyphicon" aria-hidden="true">
		</span>検索
	</button>

    <span id="form1:edtm" class="header-label" style="left: 852px; top: 10px; position: absolute; width: 120px">{{common.edtm | date:'yy/MM/dd HH:mm:ss'}}</span>
    <span id="form1:label2" class="header-label" style="left: 768px; top: 10px; position: absolute; width: 98px">最終更新日</span>
    <span id="form1:hitCount" class="header-label" style="left: 344px; top: 10px; position: absolute; text-align: center; vertical-align: middle; width: 106px">検索結果: {{common.lotMaximum}}件</span>
    <span ng-show="util.isPreviewRendered(common);">
    	<a id="form1:previous_page" style="left: 460px; top: 8px; position: absolute; text-align: center; vertical-align: middle" onclick="return hyperlink_submit(this, 'form1', null);" href="#">
   		<img id="form1:previous_page_image" src="asset/lotdspimg/previous.gif" alt="" border="0" align="top" />前</a>
    </span>
    <span ng-show="util.isNextRendered(common);">
   		<a id="form1:next_page" style="left: 496px; top: 8px; position: absolute; text-align: center; vertical-align: middle" onclick="return hyperlink_submit(this, 'form1', null);" href="#">次
   		<img id="form1:next_page_image" src="asset/lotdspimg/next.gif" alt="" border="0" align="top" /></a></span>
    </span>
    <input id="form1_hidden" name="form1_hidden" value="form1_hidden" type="hidden" />
    <!-- ICAS情報タブ以外の共通部分 終了-->
    </form>
</body>
</html>