<nis-header></nis-header>

<div class="container-fluid">

	<!-- ページのタイトル -->
	<div class="row row-padding-lr text-center">
		<h3 class="c-heading--default">{{title}}</h3>
	</div>
	
	<!-- ボタン群（ヘッダー） -->
	<div class="row row-padding-lr">
		<div class="col-md-6 col-sm-6 col-xs-6 text-left" style="padding-left:0px;">
			<button type="button" class="btn btn-info" ng-click="action.back()">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>戻る
			</button>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-6 text-right">&nbsp;</div>
	</div>
		
	<!-- 検索条件 -->
	<div class="row row-padding-lr" style="margin-top:5px;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<nis-collapse-mark model="isKensakuJokenCollapsed"></nis-collapse-mark>検索条件
			</div>
			<div class="panel-body" uib-collapse="isKensakuJokenCollapsed">
				<form name="TantoshaHoshuKensakuForm" class="form-horizontal" role="form" novalidate>
					
					<div class="form-group" nis-has-error="TantoshaHoshuKensakuForm.tantoshaCd">
						<label class="col-xs-2 control-label" for="input_TantoshaCd">担当者コード</label>
						<div class="col-xs-1">
							<input type="text" class="form-control" ng-model="tantoshaKensakuInfo.tantoshaCd" id="input_tantoshaCd" nis-input="TantoshaKensakuInfo" name="tantoshaCd" placeholder="コード" nis-init-focus>
							<nis-validate-messages target="TantoshaHoshuKensakuForm.tantoshaCd"></nis-validate-messages>
						</div>
					</div>
					
					<div class="form-group" nis-has-error="TantoshaHoshuKensakuForm.tantoshaMei">
						<label class="col-xs-2 control-label" for="input_TantoshaCd">担当者名</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" ng-model="tantoshaKensakuInfo.tantoshaMei" id="input_tantoshaMei" nis-input="TantoshaKensakuInfo" name="tantoshaMei" placeholder="名称">
							<nis-validate-messages target="TantoshaKensakuForm.tantoshaMei"></nis-validate-messages>
						</div>
					</div>
					<div class="form-group" nis-has-error="TantoshaHoshuKensakuForm.jigyosho">
						<label class="col-xs-2 control-label" for="input_jigyosho">事業所</label>
						<div class="col-xs-2 form-inline" >
							<input type="text" class="form-control" ng-model="tantoshaKensakuInfo.jigyoshoCd" id="input_jigyoshoCd" nis-input="TantoshaKensakuInfo" name="jigyoshoCd" ng-hide="false">
							<nis-select model="tantoshaKensakuInfo.jigyoshoCd" selects="jigyosho" ctrl="TantoshaHoshuKensakuForm.jigyosho" blank="true" style-class="form-control"></nis-select>
						</div>
					</div>
					<div class="form-group" nis-has-error="TantoshaHoshuKensakuForm.bumon">
						<label class="col-xs-2 control-label" for="input_bumon">部門</label>
						<div class="col-xs-2 form-inline">
							<input type="text" class="form-control" ng-model="tantoshaKensakuInfo.bumonCd" id="input_bumonCd" nis-input="TantoshaKensakuInfo" name="bumonCd" ng-hide="false">
							<nis-select model="tantoshaKensakuInfo.bumonCd" selects="bumon" ctrl="TantoshaHoshuKensakuForm.bumon" blank="true" style-class="form-control"></nis-select>
						</div>
					</div>

					<div class="text-right">
						<button type="button" class="btn btn-primary" ng-click="action.search()" ng-disabled="TantoshaHoshuKensakuForm.$invalid">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							検索
						</button>
						<button type="button" value="クリア" class="btn btn-default" ng-click="action.clearKensakuInfo()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							クリア
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 検索結果 -->
	<div class="row row-padding-lr">
		<div class="panel panel-success">
			<div class="panel-heading">
				<nis-collapse-mark model="isKensakuKekkaCollapsed"></nis-collapse-mark>検索結果
			</div>
			<div class="panel-body" uib-collapse="isKensakuKekkaCollapsed">
				<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid" style="margin-top:10px;height:410px;" ui-grid-move-columns ui-grid-resize-columns ui-grid-pinning ui-grid-exporter ui-grid-save-state ui-grid-auto-resize></div>
			</div>
		</div>
	</div>

	<!-- 入力欄 -->
	<div class="row row-padding-lr">
		<div class="panel panel-success">
			<div class="panel-heading">
				<nis-collapse-mark model="isBuhinSeisakuChokurohiJohoCollapsed"></nis-collapse-mark>保守入力欄
			</div>
			<div class="panel-body" uib-collapse="isBuhinSeisakuChokurohiJohoCollapsed">
				<form name="TantoshaHoshuTorokuForm" class="form-horizontal" role="form" novalidate>
					<div class="form-group" nis-has-error="TantoshaHoshuTorokuForm.tantoshaCd">
						<label class="col-xs-2 control-label" for="toroku_tantoshaCd"><nis-required-mark></nis-required-mark>担当者コード</label>
						<div class="col-xs-1">
							<input type="text" class="form-control" ng-model="tantoshaInfo.tantoshaCd" id="toroku_tantoshaCd" nis-input="TantoshaInfo" name="tantoshaCd" required>
							<nis-validate-messages target="TantoshaHoshuTorokuForm.tantoshaCd"></nis-validate-messages>
						</div>
					</div>

					<div class="form-group" nis-has-error="TantoshaHoshuTorokuForm.tantoshaMei">
						<label class="col-xs-2 control-label" for="toroku_tantoshaMei"><nis-required-mark></nis-required-mark>担当者名</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" ng-model="tantoshaInfo.tantoshaMei" id="toroku_tantoshaMei" nis-input="TantoshaInfo" name="tantoshaMei" required>
							<nis-validate-messages target="TantoshaHoshuTorokuForm.tantoshaMei"></nis-validate-messages>
						</div>
					</div>
				
					<div class="form-group">
						<label class="col-xs-2 control-label" for="toroku_tantoshaKana">担当者カナ</label>
						<div class="col-xs-3">
							<input type="text" class="form-control" ng-model="tantoshaInfo.tantoshaKana" id="toroku_tantoshaKana" nis-input="TantoshaInfo" name="tantoshaKana" >
							<nis-validate-messages target="TantoshaHoshuTorokuForm.tantoshaKana"></nis-validate-messages>
						</div>
					</div>
					 				
					<div class="form-group">
						<label class="col-xs-2 control-label" for="toroku_jigyosho">事業所</label>
						<div class="col-xs-2 form-inline" >
							<input type="text" class="form-control" ng-model="tantoshaInfo.jigyoshoCd" id="toroku_jigyoshoCd" nis-input="TantoshaInfo" name="jigyoshoCd" ng-hide="true">
							<nis-select model="tantoshaInfo.jigyoshoCd" selects="jigyosho" ctrl="TantoshaHoshuTorokuForm.jigyosho" blank="false" style-class="form-control"  required></nis-select>
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label" for="toroku_bumon">部門</label>
						<div class="col-xs-2 form-inline" >
							<input type="text" class="form-control" ng-model="tantoshaInfo.bumonCd" id="toroku_bumonCd" nis-input="TantoshaInfo" name="bumonCd" ng-hide="true">
							<nis-select model="tantoshaInfo.bumonCd" selects="bumon" ctrl="TantoshaHoshuTorokuForm.bumon" blank="false" style-class="form-control"  required></nis-select>
						</div>
					</div>

					<div class="form-group" nis-has-error="TantoshaHoshuTorokuForm.password">
						<label class="col-xs-2 control-label" for="toroku_password"><nis-required-mark></nis-required-mark>パスワード</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" ng-model="tantoshaInfo.password" id="toroku_password" nis-input="TantoshaInfo" name="password" required>
							<nis-validate-messages target="TantoshaHoshuTorokuForm.password"></nis-validate-messages>
						</div>
					</div>
						
					<div class="form-group" ng-hide="true">
						<label class="col-xs-2 control-label" for="toroku_newPassword">新しいパスワード</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" ng-model="tantoshaInfo.newPassword" id="toroku_newPassword" nis-input="TantoshaInfo" name="newPassword">
						</div>
					</div>

					<div class="form-group" ng-hide="true">
						<label class="col-xs-2 control-label" for="toroku_newPasswordConfirm">新しいパスワード（確認用）</label>
						<div class="col-xs-2">
							<input type="text" class="form-control" ng-model="tantoshaInfo.newPasswordConfirm" id="toroku_newPasswordConfirm" nis-input="TantoshaInfo" name="newPasswordConfirm" >
						</div>
					</div>

					<div class="form-group">
						<label class="col-xs-2 control-label" for="toroku_shanaiMailAddr">メールアドレス</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" ng-model="tantoshaInfo.shanaiMailAddr" id="toroku_shanaiMailAddr" nis-input="TantoshaInfo" name="shanaiMailAddr" >
						</div>
					</div>
				
					<div class="form-group">
						<label class="col-xs-2 control-label" for="toroku_biko">備考</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" ng-model="tantoshaInfo.biko" id="toroku_biko" nis-input="TantoshaInfo" name="biko" >
						</div>
					</div>
					
					<div class="text-right">
						<button type="button" value="確認" class="btn btn-default" ng-click="action.kakunin()">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							確認
						</button>
						<button type="button" class="btn btn-success" ng-click="action.save('登録')" ng-show="state.isNew" ng-disabled="TantoshaHoshuTorokuForm.$invalid" style="margin-left:0px;">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							登録
						</button>
						<button type="button" class="btn btn-success" ng-click="action.save('更新')" ng-show="!state.isNew" style="margin-left:0px;">
							<span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
							更新
						</button>
						<button type="button" value="クリア" class="btn btn-default" ng-click="action.clearTorokuInfo()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							クリア
						</button>
						<button type="button" class="btn btn-danger" ng-click="action.remove()" ng-show="!state.isNew" style="margin-left:0px;">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							削除
						</button>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	<!-- ボタン群（フッター） -->
	<div class="row row-padding-lr">
		<div class="col-md-3 col-sm-3 col-xs-6 text-left" style="padding-left:0px;">
			<button type="button" class="btn btn-info" ng-click="action.back()">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>戻る
			</button>
		</div>
		<div class="col-md-6 col-sm-6 col-xs-3 text-center">&nbsp;</div>
		<div class="col-md-3 col-sm-3 col-xs-3 text-right">&nbsp;</div>
	</div>
</div>
<script type="text/ng-template" id="record_buttons">
<div class="btn-group form-inline">
	<button type="button" class="btn btn-default" ng-click="grid.appScope.action.list.fukusei(row.entity)">
		<span class="fa fa-files-o" aria-hidden="true" title="コピー"></span>
	</button>
	<button type="button" class="btn btn-default" ng-click="grid.appScope.action.list.select(row.entity)">
		<span class="glyphicon glyphicon-pencil" aria-hidden="true" title="修正"></span>
	</button>
</div>
</script>
