<div id="alerts">
	<button class='btn btn-default' ng-click="clearAlerts()" ng-show="isClearButtonShow()">クリア</button>
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
		<span class="pull-left glyphicon" ng-class="{'glyphicon-ok-sign': alert.type == 'success', 'glyphicon-info-sign': alert.type == 'info', 'glyphicon-warning-sign': alert.type == 'warning', 'glyphicon-exclamation-sign': alert.type == 'danger'}"></span>
		<strong>
			{{alert.type == 'success' ? '成功:':''}}
			{{alert.type == 'info' ? '情報:':''}}
			{{alert.type == 'warning' ? '警告:':''}}
			{{alert.type == 'danger' ? '失敗:':''}}
		</strong>
		{{alert.msg}}
		<span class="pull-right">- <strong>{{alert.timestamp}}</strong></span>
	</uib-alert>
</div>