<?xml version="1.0"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <title></title>
</head>
<body id="body1">
  <form id="form1" class="form">
    <div style="background-color: white; height: 570px; left: 0px; top: 30px; position: absolute; width: 100%" class="tabSet">
      <!-- タブ項目 -->
      <div class="MniTabDiv" ng-show="common.tabSetRendered">
        <table border="0" cellspacing="0" cellpadding="0" class="MniTabTbl" title="">
          <tr>
            <td ng-show="common.mode==='0' || common.mode==='2'">
            	<a class="MniTabLnk TabPad" href ng-click="action.showIcasInfo();">ICAS情報</a>
            </td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showProgressInfo();">進度情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showManufacturingInfo();">製造情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showTestInfo();">試験情報</a></td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showQualityInfo();">品質情報</a></td>
            <td class="MniTabTblSelTd">
              <div class="MniTabSelTxt" title="Current Selection:"><span class=" disabled TabPad">クラッド情報</span></div>
            </td>
            <td><a class="MniTabLnk TabPad" href ng-click="action.showCFInfo();">焼鈍情報</a></td>
          </tr>
        </table>
      </div>

	  <!-- 各タブ固有項目 -->
      <div style="position: relative; -rave-layout: grid; height: 540px; position: relative; width: 1100px; -rave-layout: grid" class="layoutPanel" ng-show="common.tabSetRendered">
		<table border="0" cellpadding="5" cellspacing="0" style="left: 5px; top: 150px; position: absolute" width="1024">
			<tbody>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="0">
							<tbody>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="1">
											<tbody>
												<tr>
													<td class="prog-label-center"><span>組合せパターン</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="1">
											<tbody>
												<tr>
													<td class="item-value-w120-right"><span>{{cladInfo.kr_Pat}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" style="margin-top: 10px;">
							<tbody>
								<tr class="man-item-header">
									<td><span>面削実績</span></td>
								</tr>
								<tr>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="300">
											<tbody>
												<tr class="prog-label-center">
													<td><span>面削代</span></td>
													<td><span>重量Ａ</span></td>
													<td><span>面削後厚</span></td>
													<td><span>作業日</span></td>
												</tr>
												<tr class=" clad-mensaku-value">
													<td><span>{{cladInfo.h_Mens | dotNumber:1}}</span></td>
													<td><span>{{cladInfo.jmw | dotNumber:1}}</span></td>
													<td><span>{{cladInfo.jmx | dotNumber:1}}</span></td>
													<td><span>{{cladInfo.jmdtm | date:'MM/dd'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="1" style="margin-top: 10px;">
							<tbody>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="1" style="text-align: center">
											<tbody>
												<tr>
													<td><span>&nbsp;</span></td>
													<td class="clad-pit-label"><span>条件Ａ</span></td>
													<td class="clad-pit-label"><span>炉</span></td>
													<td class="clad-pit-label"><span>釜番</span></td>
													<td class="clad-pit-label"><span>作業日</span></td>
												</tr>
												<tr>
													<td class="clad-pit-label"><span>ＰＩＴ設計</span></td>
													<td class="clad-pit-pitj"><span>{{cladInfo.pitj}}</span></td>
													<td class="clad-pit-pit"><span>{{cladInfo.pit}}</span></td>
													<td class="clad-pit-prj"><span>{{cladInfo.prj}}</span></td>
													<td class="clad-pit-pitbi"><span>{{cladInfo.pitbi | date:'MM/dd'}}</span></td>
												</tr>
												<tr>
													<td class="clad-pit-label"><span>ＰＩＴ実績</span></td>
													<td class="clad-pit-pitj"><span>{{cladInfo.jpj}}</span></td>
													<td class="clad-pit-pit"><span>{{cladInfo.jprb}}</span></td>
													<td class="clad-pit-prj"><span>{{cladInfo.jprj}}</span></td>
													<td class="clad-pit-pitbi"><span>{{cladInfo.jpdt | date:'MM/dd'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<table border="0" cellpadding="0" cellspacing="1" style="margin-top: 10px;">
							<tbody>
								<tr>
									<td>
										<table border="0" cellpadding="0" cellspacing="0" width="100">
											<tbody>
												<tr>
													<td class="man-item-header"><span>皮材情報</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="978">
											<tbody>
												<tr>
													<td class="man-item-header"><span>ＰＩＴ実績</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
								<tr>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="100">
											<thead>
												<tr>
													<th scope="col" class="clad-lbl-chuzono"><span>鋳造番号</span></th>
												</tr>
											</thead>
											<tbody>
												<tr class="qua-list-row" ng-repeat="boxInfo in cladBoxInfos track by $index">
													<td class="list-clad-row" style="text-align:center;"><span>{{boxInfo.kr_Cyno}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
									<td>
										<table bgcolor="white" border="0" cellpadding="0" cellspacing="1" width="978">
											<thead>
												<tr>
													<th scope="col" class="clad-lbl-zaishitsu"><span>材質</span></th>
													<th scope="col" class="clad-lbl-jokena"><span>条件Ａ</span></th>
													<th scope="col" class="clad-lbl-roban"><span>炉</span></th>
													<th scope="col" class="clad-lbl-kamaban"><span>釜番</span></th>
													<th scope="col" class="clad-lbl-pitsagyoymd"><span>作業日</span></th>
													<th scope="col" class="clad-lbl-fstkinnetsudate"><span>第１均熱開始時刻</span></th>
													<th scope="col" class="clad-lbl-fstkinnetsuondo"><span>温度</span></th>
													<th scope="col" class="clad-lbl-sndkinnetsudate"><span>第２均熱開始時刻</span></th>
													<th scope="col" class="clad-lbl-sndkinnetsuondo"><span>温度</span></th>
													<th scope="col" class="clad-lbl-roshutsudate"><span>炉出時刻</span></th>
												</tr>
											</thead>
											<tbody>
												<tr class="qua-list-row" ng-repeat="boxInfo in cladBoxInfos track by $index">
													<td class="clad-zaishitsu"><span>{{boxInfo.lta}}</span></td>
													<td class="clad-jokena"><span>{{boxInfo.jpj}}</span></td>
													<td class="clad-roban"><span>{{boxInfo.jprb}}</span></td>
													<td class="clad-kamaban"><span>{{boxInfo.jprj}}</span></td>
													<td class="clad-pitsagyoymd"><span>{{boxInfo.jpdt | date:'yy/MM/dd'}}</span></td>
													<td class="clad-fstkinnetsudate"><span>{{boxInfo.jpdt2 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td class="clad-fstkinnetsuondo"><span>{{boxInfo.jpo2}}</span></td>
													<td class="clad-sndkinnetsudate"><span>{{boxInfo.jpdt3 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
													<td class="clad-sndkinnetsuondo"><span>{{boxInfo.jpo3}}</span></td>
													<td class="clad-roshutsudate"><span>{{boxInfo.jpdt4 | date:'yy/MM/dd HH:mm:ss'}}</span></td>
												</tr>
											</tbody>
										</table>
									</td>
								</tr>
							</tbody>
						</table>
					</td>
				</tr>
			</tbody>
		</table>
      </div>

    </div>

    <!-- ICAS情報タブ以外の共通部分 開始-->
    <!--ロット番号～Yマーク日-->
    <table border="0" cellpadding="5" cellspacing="0" style="height: 80px; left: 5px; top: 70px; position: absolute;" width="1290" ng-show="common.tabSetRendered">
      <tbody>
        <tr>
          <td>
            <table border="0" cellpadding="0" cellspacing="0">
              <tbody>
                <tr>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td class=""><span>ﾛｯﾄ番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td class=""><span>{{common.ltno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>鋳造番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.cyno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td class=""><span>検査番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td class=""><span>{{common.knno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>ｵｰﾀﾞｰ番号</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.juno}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 55px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>需要</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.jbcd}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width:40px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>BU</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.bucode}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 55px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>用途</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span>{{common.yotoc}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 130px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>用途名</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.yotoname}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 45px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>地区</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td><span>{{common.chikucd | chikuCdFl}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 205px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>販売員</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td>
                          	<span ng-if="common.tantosha_MEI">
                          		{{common.tantosha_MEI}}
                          	</span>
                          	<span ng-if="!common.tantosha_MEI">
                          		{{common.jujsno}}
                          	</span>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                      <tbody>
                        <tr class="item-label1">
                          <td class=""><span>営業納期</span></td>
                        </tr>
                        <tr class=" item-value1">
                          <td class=""><span>{{common.enoki | date:'yy/MM/dd'}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>ｶｰﾄﾞ区分</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span>{{common.jcd105}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 55px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span>本数</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span>{{common.jup}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td>
                    <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                      <tbody>
                        <tr class="item-label1">
                          <td><span >Yﾏｰｸ日</span></td>
                        </tr>
                        <tr class="item-value1">
                          <td><span >{{common.ymark | date:'yy/MM/dd'}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
        <tr>
          <td>
            <table bgcolor="white" border="0" cellpadding="0" cellspacing="0" style="vertical-align: top; margin-top: 2px;">
              <tbody>
                <tr>
                  <td>
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr class="item-label1" style="width: 120px; background-color: white;">
                          <td>
                          	<!--材質～重量-->
                            <table border="0" cellpadding="0" cellspacing="0">
                              <tbody>
                                <tr>
                                  <td>
                                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
                                      <tbody>
                                        <tr class="item-label1" style="width: 38px">
                                          <td class="item-width2"><span>&nbsp;</span></td>
                                        </tr>
                                        <tr class=" item-label1">
                                          <td class="item-width2" style="height: 25px;"><span>ｵｰﾀﾞｰ</span></td>
                                        </tr>
                                        <tr class=" item-label1">
                                          <td class="item-width2" style="height: 25px;"><span>製造</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                  <td>
                                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
                                      <tbody>
                                        <tr class="item-label1">
                                          <td class="item-width2" style="width: 45px"><span>材質</span></td>
                                          <td class="item-width3"><span>&nbsp;</span></td>
                                          <td class="item-width2" style="width: 40px"><span>調質</span></td>
                                          <td class="item-width3"><span>&nbsp;</span></td>
                                          <td class="item-width2" style="width: 45px"><span>板厚</span></td>
                                          <td class="item-width3"><span>&nbsp;</span></td>
                                          <td class="item-width2" style="width: 65px"><span>板幅</span></td>
                                          <td class="item-width3"><span>&nbsp;</span></td>
                                          <td class="item-width2" style="width: 65px"><span>板丈</span></td>
                                          <td class="item-width2" style="width: 65px"><span>重量</span></td>
                                        </tr>
                                        <tr class="item-value1">
                                          <td class="item-width2"><span>{{common.jua}}</span></td>
                                          <td class="item-width3"><span>-</span></td>
                                          <td class="item-width2"><span>{{common.jub}}</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>{{common.jux | dotNumber:3}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.juy | dotNumber:2}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.juz | dotNumber:1}}</span></td>
                                          <td class="item-width2"><span>{{common.juw | dotNumber:1}}</span></td>
                                        </tr>
                                        <tr class="item-value1">
                                          <td class="item-width2"><span>{{common.lta}}</span></td>
                                          <td class="item-width3"><span>-</span></td>
                                          <td class="item-width2"><span>{{common.ltb}}</span></td>
                                          <td class="item-width3"><span> </span></td>
                                          <td class="item-width2"><span>{{common.ltx | dotNumber:3}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.lty | dotNumber:2}}</span></td>
                                          <td class="item-width3"><span>&times;</span></td>
                                          <td class="item-width2"><span>{{common.ltz | dotNumber:1}}</span></td>
                                          <td class="item-width2"><span>{{common.ryow | dotNumber:1}}</span></td>
                                        </tr>
                                      </tbody>
                                    </table>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td><span id="form1:space1" class="space">*</span></td>
                  <td>
                  	<!--取引先～納入先-->
                    <table bgcolor="white" border="0" cellpadding="0" cellspacing="1">
                      <tbody>
                        <tr class="item-label2">
                          <td class="item-width2" style="width: 60px"><span>取引先</span></td>
                          <td class=" com-value-left-w180"><span>{{common.tokui}}</span></td>
                        </tr>
                        <tr class="item-label2">
                          <td class="item-width2"><span>送り先</span></td>
                          <td class="com-value-left-w180"><span>{{common.oname}}</span></td>
                        </tr>
                        <tr class="item-label2">
                          <td class="item-width2"><span>納入先</span></td>
                          <td class=" com-value-left-w180"><span>{{common.nonyu}}</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                  <td><span id="form1:space2" class="space">*</span></td>
                  <td>
                  	<!--倉入日～納期符号-->
                    <table border="0" cellpadding="0" cellspacing="0">
                      <tbody>
                        <tr>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                              <tbody>
                                <tr class="item-value0">
                                  <td class="item-width2"><span class="{{common.css}}">{{common.datakbn}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td colspan="2">
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 150px;">
                              <tbody>
                                <tr class="item-label1">
                                  <td class="item-width2"><span>納入仕様書No</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td colspan="2">
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 155px;">
                              <tbody>
                                <tr class="item-value1">
                                  <td class="item-width2"><span>{{common.nonyuno}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 80px;">
                              <tbody>
                                <tr class="item-label1">
                                  <td class="item-width2"><span>倉入日</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td class="item-width2"><span>{{common.ksd | date:'yy/mm/dd'}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-label1">
                                  <td class="item-width2"><span>試験者名</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td class="item-width2"><span>{{common.juno202}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 50px;">
                              <tbody>
                                <tr class="item-label1">
                                  <td class="item-width2"><span>試No</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td class="item-width2"><span>{{common.shikenno}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 55px;">
                              <tbody>
                                <tr class="item-label1">
                                  <td class="item-width2"><span>仮梱</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td class="item-width2"><span>{{common.karikon}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                          <td>
                            <table class="item-width1" border="0" cellpadding="0" cellspacing="1" style="width: 100px;">
                              <tbody>
                                <tr class="item-label1">
                                  <td class="item-width2"><span style="width:100px;">納期符号</span></td>
                                </tr>
                                <tr class="item-value1">
                                  <td class="item-width2"><span>{{common.nokifugo}}</span></td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>

    <span id="header" style="background-color: rgb(244, 233, 233); display: block; font-family: monospace; height: 35px; left: 0px; top: 0px; position: absolute; width: 100%">
    <span id="messageArea" class="message"></span>
    <span style="font-family: monospace; left: 4px; top: 10px; position: absolute; text-align: left; vertical-align: top; width: 55px">ﾛｯﾄ番号</span>
    <input type="text" ng-model="common.searchLtno" id="common_searchLtno" name="searchLtno" onclick="InputTextSelect(this);" style="height: 25px; left: 60px; top: 8px; position: absolute; text-align: left; vertical-align: middle; width: 70px;text-transform:uppercase;" tabindex="1">
	<span style="font-family: monospace; height: 20px; left: 140px; top: 10px; position: absolute; text-align: left; vertical-align: top; width: 65px">検査番号</span>
	<input type="text" ng-model="common.searchKnno" id="common_searchKnno" name="searchKnno" onclick="InputTextSelect(this);"style="height: 25px; left: 200px; top: 8px; position: absolute; text-align: left; vertical-align: middle; width: 70px;text-transform:uppercase;" tabindex="2" />
	<button type="submit" class="btn btn-default btnCustom lotdspBtnCustom" ng-click="action.search()" style="height: 25px; left: 280px; top: 8px; position: absolute; vertical-align: middle; width: 60px" tabindex="3">
		<span class="glyphicon" aria-hidden="true">
		</span>検索
	</button>

    <span class="header-label" style="left: 852px; top: 10px; position: absolute; width: 150px" ng-show="common.tabSetRendered">{{common.edtm | date:'yy/MM/dd HH:mm:ss'}}</span>
    <span class="header-label" style="left: 768px; top: 10px; position: absolute; width: 98px" ng-show="common.tabSetRendered">最終更新日: </span>
    <span class="header-label" style="left: 344px; top: 10px; position: absolute; text-align: center; vertical-align: middle; width: 106px">検索結果: {{common.lotMaximum}}件</span>
    <span ng-show="util.isPreviewRendered(common);">
    	<a style="left: 460px; top: 8px; position: absolute; text-align: center; vertical-align: middle" href ng-click="action.previousPage()">
   		<img src="asset/lotdspimg/previous.gif" alt="" border="0" align="top" />
   		前</a>
    </span>
    <span ng-show="util.isNextRendered(common);">
   		<a style="left: 510px; top: 8px; position: absolute; text-align: center; vertical-align: middle" href ng-click="action.nextPage()">次
   		<img src="asset/lotdspimg/next.gif" alt="" border="0" align="top" /></a>
   		</span>
    </span>
    <input id="form1_hidden" name="form1_hidden" value="form1_hidden" type="hidden" />
    <!-- ICAS情報タブ以外の共通部分 終了-->
    </form>
</body>
</html>