<div class="modal-header" style="padding:10px;">
	<h3 class="modal-title"><i class="fa fa-search" aria-hidden="true"></i>{{title}}</h3>
</div>
<div class="modal-body" style="padding:0;">
	<!-- 検索条件 -->
	<div class="row row-padding-lr" style="margin-top:5px;">
		<div class="panel panel-primary style="margin:10px 0 10px 0">
			<div class="panel-heading">
				<nis-collapse-mark model="isKensakuJokenCollapsed"></nis-collapse-mark>検索条件
			</div>
			<div class="panel-body" uib-collapse="isKensakuJokenCollapsed">
				<form name="BuhinKakoJohoKensakuForm" class="form-horizontal" role="form" novalidate>
					<div class="form-group" nis-has-error="BuhinKakoJohoKensakuForm.buhinSeisakuNo">
						<label class="col-xs-2 control-label" for="input_buhinSeisakuNo">部品製作番号</label>
						<div class="col-xs-10 form-inline">
							<input type="text" class="form-control" ng-model="input.buhinSeisakuNo" id="input_buhinSeisakuNo" nis-input="BuhinSeisakuChokurohiKensakuInfo" name="buhinSeisakuNo" nis-init-focus>
							<nis-validate-messages target="BuhinKakoJohoKensakuForm.buhinSeisakuNo"></nis-validate-messages>
						</div>
					</div>
					
					<div class="form-group" nis-has-error="BuhinKakoJohoKensakuForm.meisho">
						<label class="col-xs-2 control-label" for="input_meisho">名称</label>
						<div class="col-xs-4">
							<input type="text" class="form-control" ng-model="input.meisho" id="input_meisho" nis-input="BuhinSeisakuChokurohiKensakuInfo" name="meisho">
							<nis-validate-messages target="BuhinKakoJohoKensakuForm.meisho"></nis-validate-messages>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-xs-2 control-label" for="input_zairyoBunruiCd">材料分類</label>
						<div class="col-xs-6 form-inline">
							<input type="text" class="form-control" ng-model="input.zairyoBunruiCd" id="input_zairyoBunruiCd" nis-input="BuhinSeisakuChokurohiKensakuInfo" name="zairyoBunruiCd" ng-hide="true">
							<select class="form-control" ng-model="input.zairyoBunruiCd" ng-options="option.value as option.label for option in zairyoBunruiOptions">
								<option value=""></option>
							</select>
						</div>
					</div>
					
					<div class="form-group" nis-has-error="BuhinKakoJohoKensakuForm.yotoBunruiCd, BuhinKakoJohoKensakuForm.yotoMei">
						<label class="col-xs-2 control-label" for="input_yotoBunruiCd">用途分類</label>
						<div class="col-xs-10 form-inline" >
							<input type="text" class="form-control" ng-model="input.yotoBunruiCd" id="input_yotoBunruiCd" nis-input="BuhinSeisakuChokurohiKensakuInfo" name="yotoBunruiCd" ng-blur="_getMeisho('input','yotoBunrui','yotoBunruiCd','yotoMei')">
							<input type="text" class="form-control" ng-model="input.yotoMei" id="input_yotoMei" nis-input="BuhinSeisakuChokurohiKensakuInfo" name="yotoMei" placeholder="">
							<button type="button" class="btn btn-default " ng-click="action.openYotoBunruiList()"><i class="fa fa-search" aria-hidden="true"></i></button>
							<nis-validate-messages target="BuhinKakoJohoKensakuForm.yotoBunruiCd"></nis-validate-messages>
							<nis-validate-messages target="BuhinKakoJohoKensakuForm.yotoMei"></nis-validate-messages>
						</div>
					</div>
					
					<div class="text-right">
						<button type="button" class="btn btn-primary" ng-click="action.search()" ng-disabled="BuhinKakoJohoKensakuForm.$invalid">
							<span class="glyphicon glyphicon-search" aria-hidden="true"></span>
							検索
						</button>
						<button type="button" value="クリア" class="btn btn-default" ng-click="action.clear()">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
							クリア
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	<!-- 検索結果 -->
	<div class="row row-padding-lr">
		<div class="panel panel-success" style="margin:0 0 10px 0">
			<div class="panel-heading">
				<nis-collapse-mark model="isKensakuKekkaCollapsed"></nis-collapse-mark>検索結果
			</div>
			<div class="panel-body" uib-collapse="isKensakuKekkaCollapsed">
				<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pinning style="height:410px!important;"></div>
			</div>
		</div>
	</div>
	<div class="modal-footer" style="padding:10px 15px">
		<button class="btn btn-primary" ng-click="action.ok()" style="width:60px;">選択</button>
		<button class="btn btn-warning" ng-click="action.cancel()" style="width:60px;">閉じる</button>
	</div>
</div>