# ====================================================== #
# \u74b0\u5883\u306b\u4f9d\u5b58\u3059\u308b\u30d7\u30ed\u30d1\u30c6\u30a3\u3092\u5b9a\u7fa9\u3059\u308b
# ====================================================== #

# ====================================================== #
# \u30c7\u30d0\u30c3\u30b0\u95a2\u9023
# ====================================================== #
debug.sql=false
debug.logic=false

# Working Directory
app.working.dir=D:/LotDispWork

# SOAP Service URL
soap.schapp01.url=http://nlmfangydev3:10080/soap/SchApp01SOAP.dll/soap/ISchApp01SOAP
soap.icasapp01.url=http://nlmfangydev3:10080/soap/IcasApp01SOAP.dll/soap/IIcasApp01SOAP

# \u30ed\u30c3\u30c8\u554f\u5408\u305b
lot.toiawase.url=http://nlmfangyweb1a/lotdsp/?ltno={0}&mode=2

# \u30e1\u30cb\u30e5\u30fc\u306e\u30ed\u30c3\u30c8\u554f\u3044\u5408\u308f\u305b
menu.lot.toiawase.url=http://nlmfangyweb1a/lotdsp/?mode=0&site=1

# \u30b7\u30b9\u30c6\u30e0\u30d0\u30fc\u30b8\u30e7\u30f3
system.version=2.0.5.10102012

# \u30b3\u30f3\u30c6\u30ad\u30b9\u30c8URL
context.url=http://nlm-nis-p191568:9080/LotDispWeb/

# \u63a5\u7d9a\u30c7\u30fc\u30bf\u30d9\u30fc\u30b9\u95a2\u9023
lotdsp.driver.class.name=oracle.jdbc.OracleDriver
lotdsp.datasource=jdbc:oracle:thin:@nlmfangysysd:1521:OPNMDR1
lotdsp.database.user=NLM
lotdsp.database.password=NLM4928144


# \u30a6\u30a3\u30f3\u30c9\u30a6\u30aa\u30d7\u30b7\u30e7\u30f3\uff08\u30a6\u30a3\u30f3\u30c9\u30a6\u30aa\u30fc\u30d7\u30f3\u3059\u308b\u3068\u304d\u5229\u7528\uff09
window.options.fullscreen=yes
window.options.toolbar=yes
window.options.location=yes
window.options.menubar=yes
window.options.scrollbars=yes
window.options.resizable=yes
window.options.top=
window.options.left=
#window.options.width=1024
#window.options.height=768
