<style>

</style>

<div class="modal-header" style="padding:10px;">
	<h3 class="modal-title"><i class="fa fa-search" aria-hidden="true"></i>{{title}}</h3>
</div>
<div class="modal-body" style="padding:0;">
	<!-- 検索条件 -->
	<div class="row row-padding-lr">
		<div class="panel panel-primary" style="margin:10px 0 10px 0">
			<div class="panel-heading">
				<nis-collapse-mark model="isKensakuJokenCollapsed"></nis-collapse-mark>検索条件
			</div>
			<div class="panel-body" uib-collapse="isKensakuJokenCollapsed">
				<form name="BuhinKensakuForm" class="form-horizontal" role="form" novalidate>
					<div class="form-group" nis-has-error="BuhinKensakuForm.buhinCd, BuhinKensakuForm.buhinMei">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_buhinCd">部品</label>
	 					<div class="col-md-8 col-sm-8 col-xs-8  form-inline">
	 						<input type="text" class="form-control" ng-model="input.buhinCd" id="input_buhinCd" nis-input="BuhinKensakuInfo" name="buhinCd" placeholder="コード">
	 						<input type="text" class="form-control" ng-model="input.buhinMei" id="input_buhinMei" nis-input="BuhinKensakuInfo" name="buhinMei" placeholder="名称">
	 						<nis-validate-messages target="BuhinKensakuForm.buhinCd"></nis-validate-messages>
	 						<nis-validate-messages target="BuhinKensakuForm.buhinMei"></nis-validate-messages>
	 					</div>
	 				</div>
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.shuyakuBunruiCd">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_shuyakuBunruiCd">集約分類</label>
	 					<div class="col-md-4 col-sm-4 col-xs-4  form-inline">
	 						<input type="text" class="form-control" ng-model="input.shuyakuBunruiCd" id="input_shuyakuBunruiCd" nis-input="BuhinKensakuInfo" name="shuyakuBunruiCd" placeholder="コード">
	 						<select class="form-control" ng-model="input.shuyakuBunruiCd" ng-options="option.value as option.label for option in shuyakuBunruiOptions">
								<option value=""></option>
							</select>
							<nis-validate-messages target="BuhinKensakuForm.shuyakuBunruiCd"></nis-validate-messages>
	 					</div>
	 					
	 					<label class="col-md-1 col-sm-1 col-xs-1  control-label" for="input_shuyakuCd">集約</label>
	 					<div class="col-md-4 col-sm-4 col-xs-4  form-inline">
	 						<input type="text" class="form-control" ng-model="input.shuyakuCd" id="input_shuyakuCd" nis-input="BuhinKensakuInfo" name="shuyakuCd" placeholder="コード">
	 						<select class="form-control" ng-model="input.shuyakuCd" ng-options="option.value as option.label for option in shuyakuCdOptions">
								<option value=""></option>
							</select>
							<nis-validate-messages target="BuhinKensakuForm.shuyakuCd"></nis-validate-messages>
	 					</div>
	 					
	 				</div>
	 				<!--  
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.shuyakuCd">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_shuyakuCd">集約</label>
	 					<div class="col-md-4 col-sm-4 col-xs-4  form-inline">
	 						<input type="text" class="form-control" ng-model="input.shuyakuCd" id="input_shuyakuCd" nis-input="BuhinKensakuInfo" name="shuyakuCd" placeholder="コード">
	 						<select class="form-control" ng-model="input.shuyakuCd" ng-options="option.value as option.label for option in shuyakuCdOptions">
								<option value=""></option>
							</select>
							<nis-validate-messages target="BuhinKensakuForm.shuyakuCd"></nis-validate-messages>
	 					</div>
	 				</div>
	 				-->
	 				
					<div class="form-group" nis-has-error="BuhinKensakuForm.himokuCd, BuhinKensakuForm.himokuMei">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_himokuCd">費目</label>
	 					<div class="col-md-9 col-sm-9 col-xs-9  form-inline">
	 						<input type="text" class="form-control" ng-model="input.himokuCd" id="input_himokuCd" nis-input="BuhinKensakuInfo" name="himokuCd" placeholder="コード" ng-blur="_getMeisho('input','himoku','himokuCd','himokuMei')">
	 						<input type="text" class="form-control" ng-model="input.himokuMei" id="input_himokuMei" nis-input="BuhinKensakuInfo" name="himokuMei" placeholder="名称">
							<button type="button" class="btn btn-default " ng-click="action.openHimokuList()"><i class="fa fa-search" aria-hidden="true"></i></button>
	 						<nis-validate-messages target="BuhinKensakuForm.himokuCd"></nis-validate-messages>
	 						<nis-validate-messages target="BuhinKensakuForm.himokuMei"></nis-validate-messages>
	 					</div>
	 				</div>
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.zaishitsu">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_zaishitsu">材質</label>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<input type="text" class="form-control" ng-model="input.zaishitsu" id="input_zaishitsu" nis-input="BuhinKensakuInfo" name="zaishitsu" placeholder="材質">
	 						<button type="button" class="btn btn-default " ng-click="action.openZaishitsuList()"><i class="fa fa-search" aria-hidden="true"></i></button>
	 						<nis-validate-messages target="BuhinKensakuForm.zaishitsu"></nis-validate-messages>
	 					</div>
	 					<label class="col-md-1 col-sm-1 col-xs-1  control-label" for="input_choshitsu">調質</label>
	 					<div class="col-md-3 col-sm-3 col-xs-3  form-inline">
	 						<input type="text" class="form-control" ng-model="input.choshitsu" id="input_choshitsu" nis-input="BuhinKensakuInfo" name="choshitsu" placeholder="調質">
	 						<nis-validate-messages target="BuhinKensakuForm.choshitsu"></nis-validate-messages>
	 					</div>
	 					
	 				</div>
	 				<!--  
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.choshitsu">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_choshitsu">調質</label>
	 					<div class="col-md-3 col-sm-3 col-xs-3  form-inline">
	 						<input type="text" class="form-control" ng-model="input.choshitsu" id="input_choshitsu" nis-input="BuhinKensakuInfo" name="choshitsu" placeholder="調質">
	 						<nis-validate-messages target="BuhinKensakuForm.choshitsu"></nis-validate-messages>
	 					</div>
	 				</div>
	 				-->
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.kataban">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_kataban">型番</label>
	 					<div class="col-md-3 col-sm-3 col-xs-3  form-inline">
	 						<input type="text" class="form-control" ng-model="input.kataban" id="input_kataban" nis-input="BuhinKensakuInfo" name="kataban" placeholder="型番">
	 						<nis-validate-messages target="BuhinKensakuForm.kataban"></nis-validate-messages>
	 					</div>
	 				</div>
	 				
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.itaatsu, BuhinKensakuForm.haba, BuhinKensakuForm.nagasa">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label">サイズ</label>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<label for="input_itaatsu">板厚</label>
	 						<input type="text" class="form-control" ng-model="input.itaatsu" id="input_itaatsu" nis-input="BuhinKensakuInfo" name="itaatsu" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.itaatsu"></nis-validate-messages>
	 					</div>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<label for="input_haba">巾</label>
	 						<input type="text" class="form-control" ng-model="input.haba" id="input_haba" nis-input="BuhinKensakuInfo" name="haba" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.haba"></nis-validate-messages>
	 					</div>
	 					<div class="col-md-3 col-sm-3 col-xs-3  form-inline">
	 						<label for="input_nagasa">長さ</label>
	 						<input type="text" class="form-control" ng-model="input.nagasa" id="input_nagasa" nis-input="BuhinKensakuInfo" name="nagasa" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.nagasa"></nis-validate-messages>
	 					</div>
	 				</div>
	 				
	 				
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.aSize, BuhinKensakuForm.bSize, BuhinKensakuForm.tSize">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label">&nbsp;</label>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<label for="input_aSize" class="control-label">　Ａ</label>
	 						<input type="text" class="form-control" ng-model="input.aSize" id="input_aSize" nis-input="BuhinKensakuInfo" name="aSize" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.aSize"></nis-validate-messages>
	 					</div>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<label for="input_bSize">Ｂ</label>
	 						<input type="text" class="form-control" ng-model="input.bSize" id="input_bSize" nis-input="BuhinKensakuInfo" name="bSize" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.bSize"></nis-validate-messages>
	 					</div>
	 					<div class="col-md-3 col-sm-3 col-xs-3  form-inline">
	 						<label for="input_tSize">　Ｔ</label>
	 						<input type="text" class="form-control" ng-model="input.tSize" id="input_tSize" nis-input="BuhinKensakuInfo" name="tSize" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.tSize"></nis-validate-messages>
	 					</div>
	 				</div>
	 				
	 				  
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.lSize, BuhinKensakuForm.dSize, BuhinKensakuForm.mSize">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label"></label>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<label for="input_lSize">　Ｌ</label>
	 						<input type="text" class="form-control" ng-model="input.lSize" id="input_lSize" nis-input="BuhinKensakuInfo" name="lSize" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.lSize"></nis-validate-messages>
	 					</div>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<label for="input_dSize">Ｄ</label>
	 						<input type="text" class="form-control" ng-model="input.dSize" id="input_dSize" nis-input="BuhinKensakuInfo" name="dSize" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.dSize"></nis-validate-messages>
	 					</div>
	 					<div class="col-md-3 col-sm-3 col-xs-3  form-inline">
	 						<label for="input_mSize">　Ｍ</label>
	 						<input type="text" class="form-control" ng-model="input.mSize" id="input_mSize" nis-input="BuhinKensakuInfo" name="mSize" style="width:80px;">
	 						<nis-validate-messages target="BuhinKensakuForm.mSize"></nis-validate-messages>
	 					</div>
	 				</div>
	 				
	 				
	 				<div class="form-group" nis-has-error="BuhinKensakuForm.biniiruShiyo">
	 					<label class="col-md-2 col-sm-2 col-xs-2  control-label" for="input_biniiruShiyo">ビニール仕様</label>
	 					<div class="col-md-2 col-sm-2 col-xs-2  form-inline">
	 						<input type="text" class="form-control" ng-model="input.biniiruShiyo" id="input_biniiruShiyo" nis-input="BuhinKensakuInfo" name="biniiruShiyo" ng-hide="true">
	 						<select class="form-control" ng-model="input.biniiruShiyo" ng-options="option.value as option.label for option in biniiruShiyoOptions">
								<option value=""></option>
							</select>
	 					</div>
	 					<div class="col-md-4 col-sm-4 col-xs-4  form-inline">
	 						<label for="input_yukoFlg">有効/無効</label>
	 						<input type="text" class="form-control" ng-model="input.yukoFlg" id="input_yukoFlg" nis-input="BuhinKensakuInfo" name="yukoFlg" ng-hide="true">
	 						<select class="form-control" ng-model="input.yukoFlg" ng-options="option.value as option.label for option in yukoKbnOptions">
								<option value=""></option>
							</select>
	 					</div>
	 					<div class="col-md-4 col-sm-4 col-xs-4  form-inline text-right">
							<button type="button" class="btn btn-primary" ng-click="action.search()" ng-disabled="BuhinKensakuForm.$invalid">
								<span class="glyphicon glyphicon-search" aria-hidden="true"></span>検索
							</button>
							<button type="button" value="クリア" class="btn btn-default" ng-click="action.clear()"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>クリア</button>
						</div>
	 				</div>

 				</form>
			</div>
		</div>
	</div>
	<!-- 検索結果 -->
	<div class="row row-padding-lr">
		<div class="panel panel-success" style="margin:0 0 10px 0">
			<div class="panel-heading">
				<nis-collapse-mark model="isKensakuKekkaCollapsed"></nis-collapse-mark>検索結果
			</div>
			<div class="panel-body" uib-collapse="isKensakuKekkaCollapsed">
				<div id="grid1" ui-grid="gridOptions" ui-grid-pagination class="grid" ui-grid-move-columns ui-grid-resize-columns ui-grid-selection ui-grid-pinning style="height:410px!important;"></div>
			</div>
		</div>
	</div>
</div>
<div class="modal-footer" style="padding:10px 15px">
	<button class="btn btn-primary" ng-click="action.ok()" style="width:60px;">選択</button>
	<button class="btn btn-warning" ng-click="action.cancel()" style="width:60px;">閉じる</button>
</div>

<script type="text/ng-template" id="rireki_kensaku"> 
<div class="text-center">
	<button type="button btn-primary" class="btn btn-default" ng-click="grid.appScope.action.rireki(row.entity)">
		<span class="glyphicon glyphicon-search" aria-hidden="true"></span>仕入履歴
	</button>
</div>
</script>